@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f0f4f8;
  color: #333;
  padding-top: 56px;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App.css */
html, body {
  height: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 100px;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
h1 {
  margin-top: 100px;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Input styles */
input.form-control,
textarea.form-control {
  font-size: 1.2rem;
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
}

/* Button styles */
.btn {
  font-size: 1.2rem;
  padding: 10px 20px;
}

/* Mobile-friendly adjustments */
@media (max-width: 576px) {
  .btn {
    width: 100%;
    margin: 10px 0;
  }

  input.form-control,
  textarea.form-control {
    font-size: 1rem;
  }
}

/* Footer styling */
.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}
